* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../image/leaderboards.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.leaderboard-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  transform: translateX(-50%);
}

h1 {
  font-size: 50px;
  padding: 5px;
  color: orangered;
}

li {
  list-style: none;
  border-bottom: 1px solid grey;
  padding: 10px 0 10px 6px;
}

.leaderboard-container {
  display: flex;
  flex-direction: column;
  max-width: 60rem;
}

.recent {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
}

.scores-display {
  border: 1px solid #000;
  margin-top: 10px;
  max-height: 30rem;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 3px 3px 6px 5px #ccc;
  color: white;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.6);
}

.name-score {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.add-heading,
.recent {
  font-size: 18px;
  font-weight: bold;
}

.refresh,
.submit-btn {
  padding: 5px;
  font-size: 18px;
  border-radius: 6px;
  background-color: green;
  color: white;
  transition: all 0.5s;
}

.add-score {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1.5rem;
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  flex-direction: column;
  gap: 10px;
}

.form-input {
  padding: 6px 0 6px 4px;
  border-radius: 7px;
  width: 240px;
}

.submit-btn {
  align-self: flex-end;
  padding: 3px;
}

.refresh:hover,
.submit-btn:hover {
  background-color: white;
  color: green;
}
